@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&family=Roboto+Slab:wght@400;500;600&display=swap");
/* css rest */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Roboto Slab", serif;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}
.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 6.25rem;
  background-color: #0288d1;
  position: fixed;
  z-index: 10;
}

.title {
  padding: 0 0 0 2rem;
  color: rgb(30, 30, 30);
  font-size: 2.3rem;
}
.lastname {
  color: rgb(245, 245, 245);
  padding: 0 0 0 0.5rem;
  border-bottom: 2px solid rgb(30, 30, 30);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
  width: 80%;
}

a {
  padding: 0 0 0 0.5rem;
  text-decoration: none;
  color: rgb(38, 38, 38);
  font-family: "Roboto Slab", serif;
  font-size: 1.3rem;
}

a:hover {
  transition: all 0.4s ease;
  color: rgb(245, 245, 245);
}

/* Hero js */
.hero_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #03a9f4;
  justify-content: center;
  align-items: center;

  border-bottom: solid 3px #bdbdbd;
}
.hero_title {
  color: rgb(245, 245, 245);
  font-size: 4rem;
  margin: 0 0 2rem 0;
}

.btn-github {
  width: 85px;
  height: 35px;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
  font-family: "Roboto Slab", serif;
}

.btn-linkedin {
  width: 85px;
  height: 35px;
  border-radius: 20px;
  border: none;
  font-family: "Roboto Slab", serif;
}

.btn-github:hover {
  cursor: pointer;
  transition: all 0.5s ease-out;
  background-color: rgba(25, 194, 206, 0.7);
}
.btn-linkedin:hover {
  cursor: pointer;
  transition: all 0.5s ease-out;
  background-color: rgba(11, 44, 235, 0.7);
}
.btn-hero {
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* About js */
.about_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
}
.about_title {
  color: rgb(38, 38, 38);
  font-size: 3rem;
  text-align: center;
  margin: 1rem 0;
}

.about_content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.about_image_content {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
}
.image_me {
  width: 50%;
  height: 50%;
  border-radius: 1rem;
  text-align: center;
  margin: auto;
}
.me_title {
  margin: 0.5rem;
}
.bold-text {
  font-weight: 700;
}
.text_about {
  display: flex;
  flex-direction: column;
  width: 50%;
  line-height: 2.2;
}

/* tech section */
.tech_section {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 500px;
  background-color: #fff;
}
.tech_title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.image_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.tech_image {
  width: 150px;
  height: 200px;
  padding: 1rem;
}
/* projects section */
.projects_section {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 1rem;
  align-items: center;
  width: 100%;
}
.project_menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin: 10px;
  align-items: center;
}
.project_image:hover {
  transform: scale(0.95);
  transform-origin: center;
  opacity: 0.7;
}
.projects_list {
  width: 25%;
  margin: 1rem;
  text-align: center;
  height: 500px;
  background-color: #03a9f4;
  border-radius: 5px;
  padding-top: 2rem;
  color: #fff;
}
.project_image {
  width: 450px;
  transition: transform 250ms ease-in;
}

/* contact section */
.contact_section {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: #03a9f4;
  color: #fff;
}
.icons-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  padding-top: 2em;
}
/* icons */
.fa-envelope,
.fa-twitter-square,
.fa-facebook-square,
.fa-linkedin,
.fa-github-square {
  font-size: 3rem;
  padding: 10px;
  color: #fff;
  transition: transform 0.3s ease-out;
}
.fa-envelope:hover {
  transform: scale(1.1);
  transform-origin: center;
  color: rgba(35, 35, 36, 0.7);
  cursor: pointer;
}
.fa-twitter-square:hover {
  transform: scale(1.1);
  transform-origin: center;
  color: rgba(35, 35, 36, 0.7);
  cursor: pointer;
}
.fa-facebook-square:hover {
  transform: scale(1.1);
  transform-origin: center;
  color: rgba(35, 35, 36, 0.7);
  cursor: pointer;
}
.fa-linkedin:hover {
  transform: scale(1.1);
  transform-origin: center;
  color: rgba(35, 35, 36, 0.7);
  cursor: pointer;
}
.fa-github-square:hover {
  transform: scale(1.1);
  transform-origin: center;
  color: rgba(35, 35, 36, 0.7);
  cursor: pointer;
}

/* footer */
.footer_section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  background-color: rgb(43, 43, 43);
  color: white;
}
.footer-left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fo-text {
  font-family: "Oswald", sans-serif;
}
.footer-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footlink {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
}

.footlink:hover {
  transition: all 0.3s ease;
  color: rgb(41, 79, 247, 0.8);
}
